extends ../layout

include ../partials/navbar
include ../partials/modal-form

append head
  link(
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  )

block content
  +navbar(
    [
      {"id": "dashboard-nav", "href": "/dashboard", "label": "Dashboard"}
    ],[
      {"id": "new-nav", "href": "/new", "label": "New Script"},
      {"id": "logout-nav", "href": "/logout", "label": "Logout"}
    ])
  +modal-form("new-script-modal", "New Script", "/script/new", [
    {"id": "new-script-name", "name": "name", "type": "text", "label": "Script Name"}
    ])
  .list-group
    each script in scripts
      - url = "/script/" + script.id
      a.list-group-item.list-group-item-action.flex-column.align-items-start(href=url)
        .d-flex.w-100.justify-content-between
          = script.name
          small
            - deleteUrl = "/script/" + script.id + "/delete"
            form.form-horizontal(action=deleteUrl method="post")
              button.btn.badge.badge-danger(type="submit")
                span.fa.fa-remove

append body
  script(src="/js/dashboard.js")
