extends ../layout

include ../partials/navbar
include ../partials/modal-form

block content
  +navbar(
    [
      {"id": "dashboard-nav", "href": "/dashboard", "label": "Dashboard"}
    ],[
      {"id": "new-nav", "href": "/new", "label": "New Script"},
      {"id": "logout-nav", "href": "/logout", "label": "Logout"}
    ])
  +modal-form("new-script", "New Script", "/script/new", [
    {"id": "new-script-name", "name": "name", "type": "text", "label": "Script Name"}
    ])
  +modal-form("share-script", "Share Script", "/script/share", [
    {"id": "share-script-username", "name": "username", "type": "text", "label": "Username"}
    ])
    select.form-control(name="contributionLevel")
      each contributionLevel in contributionLevels
        option= contributionLevel
  +modal-form("run-script", "Run Script", "/script/run", [
    {"id": "run-script-stdin", "name": "stdin", "type": "text", "label": "Run Script"}
    ])
  #script-id(hidden)
    = script_id
  #alert-container
  .row.m-0(style="flex:1;")
    .col-3.p-0
      .btn-toolbar.w-100.p-0.m-0
        .btn-group.w-100.p-0.m-0
          button.btn.btn-secondary.w-50.rounded-0#share-button(type="button") Share
          button.btn.btn-secondary.w-50.rounded-0#run-button(type="button") Run
      ul.border.list-group.h-75#messages(style="overflow: hidden;")
      form#message-form
        input.form-control.w-100#message-input(type="text")
    .col-9.p-0
      #editor(style="position: absolute; top: 0; right: 0; bottom: 0;left: 0;")
        = script_code

append body
  script(
    src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"
    integrity="sha256-NLPE2EQpOtxTAUB/jxjM97jsGmVQopiX8ceHySHhXs8="
    crossorigin="anonymous"
  )
  script(
    src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ext-language_tools.js"
    integrity="sha256-kb+/UeeIJQwoiinEYqlY7FqMXtgKpULdLvQ560OE3i4="
    crossorigin="anonymous"
  )
  script(
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"
    integrity="sha256-Thm9kMI2BQKxVnCWipQIGeb8QVl2lohO+WWWfCiF8b0="
    crossorigin="anonymous"
  )
  script(
    src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/3.5.0/diff.js"
    integrity="sha256-GohE5pijQCRc5q81JQLFszd3AyiRqci/3Le8DIv+9bE="
    crossorigin="anonymous"
  )
  script(src="/js/editor.js")
